/* null margins and padding to give good cross-browser baseline */
html,
body,
address,
blockquote,
div,
form,
fieldset,
caption,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ul,
li,
ol,
ul,
dl,
dt,
dd,
table,
tr,
td,
th,
p,
img {
  margin: 0;
  padding: 0;
}

img,
fieldset {
  border: none;
}

* {
  box-sizing: border-box;
}

hr {
  display: none;
  /*
		HR in my code are for semantic breaks in topic/section,  NOT
		style/presenation,  so hide them from screen.css users
	*/
}

@media (max-width: 480px) {
  /* Fix for pre "viewport <meta>" mobile browsers */
  * {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body,
button,
input,
table,
textarea,
select {
  font: normal 1em/1.5 arial, helvetica, sans-serif;
}

#fauxBody {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#fauxInner {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: hsl(220, 100%, 95%);
}

#fauxInner > header,
#fauxInner > footer {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  background: hsl(220, 100%, 90%);
}

#fauxInner > header {
  align-items: center;
  border-bottom: 1px solid hsl(220, 100%, 60%);
}

#fauxInner > footer,
section.alternatingStyle {
  border-top: 1px solid hsl(220, 100%, 60%);
}

#fauxInner > header > section,
#fauxInner > footer > section {
  flex: 1 0 auto;
}

#fauxInner > footer section:last-child {
  text-align: right;
}

#fauxInner > footer h2 {
  font-size: 1.25em;
}

main {
  flex: 1 0 auto;
}

h1 {
  flex: 1 0 auto;
  font-size: 1.5em;
}

main h2 {
  font-size: 1.5em;
  line-height: 1.2em;
  margin-bottom: 0.33em;
}

p {
  padding-bottom: 1.5em;
}

p span {
  display: inline-block; /* acts as a 'keep-together better than nowrap! */
}

#mainMenu {
  flex: 0 0 auto;
}

#mainMenu ul {
  display: flex;
  align-items: center;
  justify-content: end;
}

#mainMenu li {
  list-style: none;
  margin-left: 1.5em;
}

#mainMenu li a {
  display: inline-block;
  padding: 0.25em 0;
  text-decoration: none;
  color: #048;
  transition: transform 0.3s, color 0.3s;
}

#mainMenu li a:focus,
#mainMenu li a:hover {
  color: #000;
  transform: scale(1.2);
}

fieldset {
  padding-bottom: 1em;
}

fieldset input,
.submitsAndHiddens button {
  border: 1px solid #0006;
  border-radius: 0.25em;
}

fieldset input {
  padding: 0.25em 0.5em;
}

fieldset > label input {
  width: 100%;
  margin: 0.25em 0 0.5em;
}

.submitsAndHiddens {
  text-align: center;
}

.submitsAndHiddens button {
  padding: 0.25em 1em;
  background: #0481;
  color: #000;
  transition: background 0.3s;
}

.submitsAndHiddens button:focus,
.submitsAndHiddens button:hover {
  background: #0483;
}

#fauxInner > footer ul {
  list-style: none;
}

#fauxInner > footer a {
  text-decoration: none;
  color: #048c;
}

#fauxInner > footer a:focus,
#fauxInner > footer a:hover {
  text-decoration: underline;
  color: #000e;
}

main kbd {
  display: inline-block;
  padding: 0.5em;
  font: normal 0.75em/1.1em consolas, monospace;
  color: #fff;
  background: #444;
  border-style: solid;
  border-width: 0.25em 0.5em 0.75em;
  border-color: #777 #555 #000 #555;
  border-radius: 0.25em;
  vertical-align: middle;
}

.descriptor,
.gallery {
  margin: 0 auto 1.5em;
}

.descriptor {
  max-width: 54em;
  margin: 0 auto 4em;
  padding: 4em max(0.5em, 6vw);
  text-align: center;
  border-bottom: 2px solid #0484;
}

.descriptor h2 {
  font-size: 3em;
  line-height: 1.33em;
  padding-bottom: 1em;
}

.gallery {
  max-width: 60em;
  margin: 0 auto 3em;
  padding: 0 max(0.5em, 2vw);
}

.gallery h2 {
  font-size: 2em;
  padding-bottom: 1.5em;
  text-align: center;
}

.gallery ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.gallery li {
  flex: 1 0 auto;
  padding: 0.5em;
  width: 50%;
}

.widthWrapper {
  max-width: 48em;
  margin: 0 auto;
}

.alternatingStyle {
  padding: 3em max(0.5em, 6vw);
  background: #fff;
}

.alternatingStyle:nth-of-type(even) {
  background: #08f4;
}

.platePair {
  display: flex;
  align-items: center;
  justify-content: center;
}

.platePair > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.platePair > div:first-child {
  flex: 0 0 auto;
  width: calc(10vw + 16em);
  max-width: 28em;
  padding-right: 3em;
}

.platePair > div:last-child {
  max-width: 40em;
  padding-top: 1.5em;
}

.platePair.alternatingStyle:nth-of-type(even) > div:first-child {
  order: 1;
  padding: 0 0 0 3em;
}

@media (max-width: 50em) {
  .platePair {
    flex-direction: column;
  }
  .platePair > div:first-child {
    width: 100%;
    max-width: 18em;
    padding: 0 0 1.5em;
  }
  .platePair.alternatingStyle:nth-of-type(even) > div:first-child {
    order: 0;
    padding: 0 0 1.5em;
  }
}

@media (max-width: 38em) {
  #fauxInner > footer {
    display: block;
  }
  #fauxInner > footer section {
    padding-bottom: 1.5em;
    text-align: center;
  }
  #fauxInner > footer section:last-child {
    text-align: center;
    padding-bottom: 0;
  }
}

/* Start Lazy css */

.lazyImage {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden;
  vertical-align: bottom;
}

.lazyImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: scale(1);
  transition: background 0.5s, opacity 0.5s, transform 0.5s;
}

.lazyImageError img,
.lazyImageWaiting img {
  opacity: 0;
  transform: scale(0);
  transition: none;
}

.lazyImageError:after {
  content: "Image Not Found";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background: #ff4;
  color: #f00;
  border: 2px solid #f00;
  transform: scale(0);
  transition: transform 0.5s;
}

.lazyImageErrorShow:after {
  transform: scale(1);
}

/* loading animation */

.lazyImage:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 0;
  padding-top: 30%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: transform 0.5s, opacity 0.5s;
  border: 1em solid;
  border-color: #0484 #0488;
  border-radius: 50%;
}

.lazyImageWaiting:before {
  animation: spin 1s linear infinite;
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg) scale(0.7);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
  }
}

/* End Lazy css */